<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.meicode.finalprojek2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProjek2">
        <activity
            android:name=".DetailProductActivity"
            android:exported="false" />
        <activity
            android:name=".Clothing.ClothingWomenProductListActivity"
            android:exported="false" />
        <activity
            android:name=".Clothing.ClothingMensProductListActivity"
            android:exported="false" />
        <activity
            android:name=".HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".OtherItem.OtherItemProductActivity"
            android:exported="true" />
        <activity
            android:name=".Electronic.ElectronicProductListActivity"
            android:exported="true" />
        <activity
            android:name=".Clothing.ClothingAccGenderActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Staff.StaffLoginPagesActivity"
            android:exported="true" />
        <activity
            android:name=".User.UserLoginPagesActivity"
            android:exported="true" />
        <activity
            android:name=".User.UserRegisterActivity"
            android:exported="true" />
        <activity
            android:name=".Admin.AdminAddStockActivity"
            android:exported="true" />
        <activity
            android:name=".Admin.AdminAddStaffActivity"
            android:exported="true" />
        <activity
            android:name=".Admin.AdminActivity"
            android:exported="true" />
        <activity
            android:name=".Admin.AdminLoginPagesActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>